# Scraping mobile phone ratings and other details from [phonesranking](www.phonesranking.com)

>Phonesranking.com is a website that collects &amp; gather ratings from Expert review sites (only English sites), aggregate the >scores so visitors can see the overall mobile phone rankings &amp; average ratings. We do not count the usersâ€™ ratings, the >scores are taken from Critics, Editors & Publishers of those websites.

This website contains ranking for phones of various brands. For every brand there is a specific page and here we will scrap the following details for atmost 50 phones for every brand:
* Brand
* Name of phone
* Rating of phone
* Released date
* Operating System

In [23]:
import requests
from bs4 import BeautifulSoup
response = requests.get("http://www.phonesranking.com/")
html_soup = BeautifulSoup(response.text,"html.parser")

In [86]:
brands = html_soup.find("ul",{"id":"menu-brands"}).text
brands = brands.split("\n")
brands = [item.lower() for item in brands]
brands.remove('')

In [104]:
response2 = requests.get("http://www.phonesranking.com/acer/")

list

# Final code begins from here:

In [198]:
from random import randint
import time
from IPython.core.display import clear_output
import requests
from bs4 import BeautifulSoup
response = requests.get("http://www.phonesranking.com/")
html_soup = BeautifulSoup(response.text,"html.parser")

brands = html_soup.find("ul",{"id":"menu-brands"}).text
brands = brands.split("\n")
brands = [item.lower() for item in brands]
brands.remove('')

brand = []
phone = []
rating = []
released =[]
os=[]
for b in brands:
    response2 = requests.get("http://www.phonesranking.com/{}/".format(b))
    html_soup_brand = BeautifulSoup(response2.text, "html.parser")
    
    phone_  = html_soup_brand.find_all("td", class_="column-1")
    rating_ = html_soup_brand.find_all("td", class_="column-2")
    released_ = html_soup_brand.find_all("td", class_="column-4")
    os_ = html_soup_brand.find_all("td", class_="column-5")
    
    
    
    for item in rating_:
        value = str(item).strip('<td class="column-2">').strip('%</')
        rating.append(value)
        brand.append(b)
        
        
    
    for i in range (len(phone_)):
        item = phone_[i].text
        phone.append(item.strip())
        
        
    for i in range(len(released_)):
        item = released_[i].text
        released.append(item)
    
    for i in range(len(os_)):
        item = os_[i].text
        os.append(item)
    
    print("Scraping  for brand: {}".format(b))
    time.sleep(randint(5,10))
    clear_output(wait=True)
    print("Starting Scraping for next brand..")
print("Done!")

Starting Scraping for next brand..
Done!

In [200]:
import pandas as pd
test_data = pd.DataFrame({'brand':brand,
                          'name':phone,
                          'rating':rating,
                          'released':released,
                          'os':os
    
})

## test_data:

In [201]:
test_data[:40]

      brand                      name rating  released       os
0      acer          Acer Liquid Z530  65.00  Oct-2015  Android
1      acer          Acer Liquid M220  46.50  May-2015  Windows
2      acer        Acer Liquid Jade Z  65.89  Apr-2015  Android
3      acer          Acer Liquid Z220  45.00  Apr-2015  Android
4      acer          Acer Liquid Z410  70.00  Feb-2015  Android
5      acer      Acer Liquid Jade S55  52.50  Dec-2014  Android
6      acer          Acer Liquid E700  70.00  Aug-2014  Android
7      acer          Acer Liquid Jade  65.00  Jul-2014  Android
8      acer            Acer Liquid E3  60.00  Apr-2014  Android
9      acer            Acer Liquid Z4  40.00  Apr-2014  Android
10     acer            Acer Liquid Z5  60.00  Jan-2014  Android
11     acer            Acer Liquid S2  74.14  Dec-2013  Android
12     acer            Acer Liquid Z3  63.00  Sep-2013  Android
13     acer            Acer Liquid S1  55.75  Aug-2013  Android
14     acer        Acer Liquid S1 Duo  80.00  Aug-2013  Android
15     acer            Acer Liquid E2  65.00  May-2013  Android
16     acer        Acer Liquid E2 Duo  60.00  May-2013  Android
17     acer            Acer Liquid E1  61.67  Mar-2013  Android
18     acer        Acer Liquid E1 Duo  60.00  Mar-2013  Android
19     acer            Acer Liquid Z2  66.67  Mar-2013  Android
20     acer     Acer CloudMobile S500  70.56  Sep-2012  Android
21     acer       Acer Liquid Gallant  90.00  Sep-2012  Android
22     acer          Acer Liquid Glow  60.00  Aug-2012  Android
23     acer     Acer Liquid Mini E310  58.57  Apr-2011  Android
24     acer         Acer beTouch E210  56.00  Mar-2011  Android
25     acer         Acer beTouch E140  55.00  Dec-2010  Android
26     acer         Acer Liquid Metal  73.22  Nov-2010  Android
27     acer         Acer beTouch E130  70.00  Aug-2010  Android
28     acer             Acer Liquid E  66.67  Aug-2010  Android
29     acer     Acer Liquid E Ferrari  50.00  Aug-2010  Android
30     acer               Acer Stream  71.54  Aug-2010  Android
31     acer        Acer NeoTouch P400  50.00  May-2010  Windows
32     acer         Acer beTouch E400  62.00  Apr-2010  Android
33     acer         Acer beTouch E110  45.00  May-2010  Android
34     acer        Acer neoTouch P300  40.00  Mar-2010  Windows
35  alcatel           Alcatel Idol 5s  71.00  Jul-2017  Android
36  alcatel           Alcatel Idol 4s  75.15  Jul-2016  Android
37  alcatel         Alcatel Fierce XL  60.00  Feb-2016  Windows
38  alcatel  Alcatel One Touch Idol 3  77.86  May-2015  Android
39  alcatel   Alcatel OneTouch Pixi 3  56.00  Mar-2015  Android

In [202]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 5 columns):
brand       1525 non-null object
name        1525 non-null object
rating      1525 non-null object
released    1525 non-null object
os          1525 non-null object
dtypes: object(5)
memory usage: 59.6+ KB

All the column values are in object format. `rating` should be in float format

### Cleaning data:

In [203]:
test_data["brand"].unique()

array(['acer', 'alcatel', 'amazon', 'apple', 'archos', 'asus',
       'blackberry', 'blu', 'cat', 'celkon', 'gionee', 'google', 'htc',
       'huawei', 'karbonn', 'kazam', 'kyocera', 'lava', 'lenovo', 'lg',
       'meizu', 'micromax', 'microsoft', 'motorola', 'nokia', 'oneplus',
       'oppo', 'panasonic', 'pantech', 'samsung', 'sharp', 'sonim',
       'sony', 'spice', 'vertu', 'vivo', 'xiaomi', 'yota', 'zte'],
      dtype=object)

In [204]:
test_data["rating"].unique()

array(['65.00', '46.50', '65.89', '45.00', '70.00', '52.50', '60.00',
       '40.00', '74.14', '63.00', '55.75', '80.00', '61.67', '66.67',
       '70.56', '90.00', '58.57', '56.00', '55.00', '73.22', '50.00',
       '71.54', '62.00', '71.00', '75.15', '77.86', '51.50', '72.00',
       '75.00', '46.00', '77.50', '70.50', '71.25', '59.00', '68.14',
       '76.00', '53.33', '87.00', '30.00', '75.20', '67.50', '63.33',
       '57.94', '88.81', '88.31', '88.48', '89.94', '81.11', '85.38',
       '84.91', '88.47', '86.03', '89.66', '87.73', '90.96%<br/>\n',
       '87.10', '88.91%<br/>\n', '78.19', '87.06', '88.21', '58.00',
       '73.00', '63.75', '70.53', '74.71', '70.83', '70.33', '76.14',
       '65.50', '57.50', '72.75', '73.75', '64.44', '75.63', '76.81',
       '64.67', '71.61', '75.56', '77.53', '69.95', '79.82',
       '67.58%<br/>\n', '66.92', '71.11', '69.88', '65.05', '72.48',
       '71.60', '65.38', '64.17', '68.50', '55.50', '61.75', '79.47',
       '69.29', '68.89', '64.72', '77.46', '69.38', '68.65', '56.67',
       '73.60', '74.83', '72.50', '86.67', '76.33', '73.67', '68.33',
       '86.50', '77.00', '72.25', '66.50', '62.50', '73.43', '62.75',
       '57.25', '0.00', '71.67', '77.67', '78.00', '69.33', '67.00',
       '65.25', '88.76', '85.44', '82.86', '83.13', '84.72', '86.81',
       '70.04', '75.27', '86.35', '69.31', '69.40', '68.00', '66.00',
       '86.83', '51.09', '73.21', '83.57', '80.82', '63.53', '81.00',
       '78.69', '81.63', '81.36', '78.33', '63.13', '72.89', '69.00',
       '79.57', '61.19', '80.76', '77.23', '91.46', '69.50', '69.97',
       '78.41', '69.60', '66.25', '90.50', '73.33', '72.05', '81.33',
       '86.25', '72.45', '79.85', '61.88', '77.33', '86.94', '80.68',
       '77.30', '70.75', '77.42', '75.71', '79.80', '66.36', '73.48',
       '81.43', '76.92', '71.50', '84.96', '68.61', '75.50', '76.17',
       '79.12', '80.90', '79.95', '80.60', '74.13', '82.07', '78.75',
       '75.42', '89.33', '78.16', '72.14', '84.38', '84.00', '74.00',
       '87.50', '89.63', '61.50', '82.65', '91.11', '82.88', '81.24',
       '84.41', '79.71', '90.03', '83.15', '79.69', '78.56', '86.56',
       '88.00', '83.78', '83.94', '77.96', '82.39', '79.48', '74.93',
       '70.88', '80.04', '81.62', '79.00', '81.60', '78.62', '73.71',
       '90.76', '79.29', '65.83', '79.42', '83.10', '64.73', '77.14',
       '74.68', '72.43', '69.25', '72.23', '68.92', '80.40', '76.25',
       '72.22', '81.82', '73.50', '57.00', '46.67', '68.18', '76.67',
       '44.00', '68.73', '64.33', '60.67', '76.38', '54.17', '63.57',
       '90.38', '78.71', '81.55', '79.90', '83.61', '85.67', '81.28',
       '66.80', '82.43', '65.75', '81.40', '80.31', '64.00', '65.82',
       '66.40%<br/>\n', '65.33%<br/>\n', '86.52', '82.00', '78.20',
       '69.64', '89.84', '80.30', '71.71', '87.19', '86.16', '74.17',
       '71.88', '78.68', '83.38', '80.33', '67.14', '77.36', '63.17',
       '67.86', '53.13', '73.64', '66.18', '72.40', '49.86', '74.67',
       '66.43', '78.50', '58.75', '69.75', '77.40', '47.50', '58.33',
       '74.80', '62.25', '73.17', '82.50', '69.67', '70.00%<br/>\n',
       '64.55', '65.65', '71.14', '79.20', '76.73', '64.75', '62.78',
       '72.85', '72.47', '82.93', '78.27', '81.29', '76.20', '81.69',
       '77.82', '76.90', '80.48', '80.52', '84.46', '81.70', '71.33',
       '82.70', '78.94', '84.40', '77.29', '82.58', '82.83', '84.33',
       '79.97', '82.02', '84.43', '83.82', '85.85', '76.46', '85.46',
       '77.38', '69.70', '80.25', '77.80', '83.75', '79.17', '76.93',
       '70.55', '74.58', '75.07', '79.23', '83.06', '78.60', '70.94',
       '80.83', '79.64', '70.92', '71.40', '79.76', '53.00', '77.26',
       '79.62', '76.11', '85.00', '86.10', '71.75', '76.54', '60.11',
       '73.14', '67.63', '76.39', '74.33', '81.22', '61.07', '53.08',
       '71.08', '76.43%<br/>\n', '73.97', '58.80', '83.09', '71.89',
       '76.60', '50.56', '80.94', '69.43', '81.59', '69.52', '79.16',
       '76.07', '77.62', '64.71', '80.57', '66.89', '72.35', '72.13',
       '79.63', '51.67', '6.67', '64.10', '77.60', '81.52', '69.86',
       '54.58', '64.06', '73.57', '70.87', '69.44', '71.36', '72.83',
       '89.28', '89.97', '88.62', '85.50', '90.46', '90.23', '83.00',
       '85.26', '75.87', '81.75', '76.83', '77.13', '65.33', '81.58',
       '85.29', '58.60', '68.83', '89.05', '70.71', '87.48', '88.89',
       '89.46', '86.27', '84.57', '92.91', '87.80', '87.45', '93.45',
       '93.03', '67.08', '80.38', '82.63', '73.25', '87.15', '86.41',
       '78.17', '86.64', '93.92', '88.24', '81.67', '76.86', '76.28',
       '90.35', '33.33', '77.89', '79.50', '85.42', '86.21', '67.25',
       '87.18', '70.63', '67.45', '76.85', '68.80', '84.19', '87.09',
       '55.56', '80.50', '69.85', '68.20', '66.75', '67.67', '90.14',
       '43.33', '60.71', '70.13', '41.00', '81.77', '78.52', '58.64',
       '68.75', '75.40', '79.25', '50.63', '91.07', '65.45', '64.69',
       '63.89', '55.83', '82.19', '86.13', '61.25', '76.43', '79.38',
       '68.40', '87.17', '61.00', '73.82', '82.57', '67.22', '78.59',
       '74.63', '81.18', '77.68', '72.31', '62.35', '67.35', '78.42',
       '80.47', '84.36', '83.67', '74.86', '74.65', '75.33', '72.29',
       '74.40', '86.51', '91.44', '73.93', '70.86', '74.60', '85.05',
       '90.56', '81.47', '64.13', '76.04', '72.33', '79.11', '68.57',
       '52.86', '68.67', '58.45', '74.89', '75.14', '80.92', '82.73',
       '82.75', '71.82', '72.32', '58.50', '66.15', '76.80', '75.75',
       '84.50', '79.60', '81.71', '82.36', '76.13', '81.20', '77.20',
       '84.73', '76.50', '76.71', '84.60', '80.71', '75.17', '80.14',
       '81.25', '73.04%<br/>\n', '62.64', '51.00', '59.75', '64.08',
       '62.86'], dtype=object)

As we can see above, some of the ratings have come with `%<br/>\n` appended to them. We need to remove them.

In [205]:
test_data["rating"] = test_data["rating"].str.replace('%<br/>\n',"")

Let's convert `rating` column values to float

In [206]:
test_data["rating"] = test_data["rating"].astype(float)

In [207]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 5 columns):
brand       1525 non-null object
name        1525 non-null object
rating      1525 non-null float64
released    1525 non-null object
os          1525 non-null object
dtypes: float64(1), object(4)
memory usage: 59.6+ KB

So, now `rating` column values are converted to `float` type.

In [208]:
test_data.columns

Index(['brand', 'name', 'rating', 'released', 'os'], dtype='object')

In [209]:
test_data["released"].unique()

array(['Oct-2015', 'May-2015', 'Apr-2015', 'Feb-2015', 'Dec-2014',
       'Aug-2014', 'Jul-2014', 'Apr-2014', 'Jan-2014', 'Dec-2013',
       'Sep-2013', 'Aug-2013', 'May-2013', 'Mar-2013', 'Sep-2012',
       'Aug-2012', 'Apr-2011', 'Mar-2011', 'Dec-2010', 'Nov-2010',
       'Aug-2010', 'May-2010', 'Apr-2010', 'Mar-2010', 'Jul-2017',
       'Jul-2016', 'Feb-2016', 'Mar-2015', 'Oct-2014', 'Sep-2014',
       'Jun-2014', 'May-2014', 'Mar-2014', 'Feb-2014', 'Oct-2013',
       'Jul-2013', 'Apr-2013', 'Jan-2013', 'Oct-2012', 'Apr-2012',
       'Feb-2012', 'Dec-2011', 'Nov-2011', 'Oct-2011', 'Jul-2011',
       'Jun-2010', 'Feb-2010', 'Oct-2018', 'Nov-2017', 'Sep-2017',
       'Sep-2016', 'Mar-2016', 'Sep-2015', 'Jan-2015', 'Nov-2013',
       'Aug-2011', 'Jun-2017', 'Aug-2016', 'Jan-2016', 'Dec-2015',
       'Aug-2015', 'Dec-2012', 'Jun-2012', 'Jun-2018', 'Dec-2017',
       'Apr-2017', 'Nov-2015', 'Jun-2013', 'May-2012', 'Sep-2011',
       'Jul-2010', 'Nov-2016', 'Jun-2016', 'Oct-2010', 'Nov-2014',
       'Nov-2018', 'Oct-2017', 'Oct-2016', 'Feb-2017', 'May-2016',
       'Jul-2015', 'Nov-2012', 'Jul-2012', 'Jan-2012', 'Jun-2011',
       'May-2011', 'Feb-2011', 'Jan-2011', 'Jan-2010', 'Sep-2018',
       'Aug-2018', 'May-2018', 'Apr-2018', 'Jan-2018', 'Mar-2017',
       'Apr-2016', 'Jun-2015', 'Feb-2013', 'Mar-2012', 'Sep-2010',
       'Aug-2017', 'Jun-2015\n', 'May-2017', 'Jan-2017', 'May-2015\n',
       'Mar-2018', 'Feb-2015\n', 'Jul-2018', 'Feb-2018'], dtype=object)

Some of the values in `released` column values have `\n` appended. We need to remove them.

In [210]:
test_data["released"] = test_data["released"].str.replace("\n","")

In [211]:
test_data["released"].unique()

array(['Oct-2015', 'May-2015', 'Apr-2015', 'Feb-2015', 'Dec-2014',
       'Aug-2014', 'Jul-2014', 'Apr-2014', 'Jan-2014', 'Dec-2013',
       'Sep-2013', 'Aug-2013', 'May-2013', 'Mar-2013', 'Sep-2012',
       'Aug-2012', 'Apr-2011', 'Mar-2011', 'Dec-2010', 'Nov-2010',
       'Aug-2010', 'May-2010', 'Apr-2010', 'Mar-2010', 'Jul-2017',
       'Jul-2016', 'Feb-2016', 'Mar-2015', 'Oct-2014', 'Sep-2014',
       'Jun-2014', 'May-2014', 'Mar-2014', 'Feb-2014', 'Oct-2013',
       'Jul-2013', 'Apr-2013', 'Jan-2013', 'Oct-2012', 'Apr-2012',
       'Feb-2012', 'Dec-2011', 'Nov-2011', 'Oct-2011', 'Jul-2011',
       'Jun-2010', 'Feb-2010', 'Oct-2018', 'Nov-2017', 'Sep-2017',
       'Sep-2016', 'Mar-2016', 'Sep-2015', 'Jan-2015', 'Nov-2013',
       'Aug-2011', 'Jun-2017', 'Aug-2016', 'Jan-2016', 'Dec-2015',
       'Aug-2015', 'Dec-2012', 'Jun-2012', 'Jun-2018', 'Dec-2017',
       'Apr-2017', 'Nov-2015', 'Jun-2013', 'May-2012', 'Sep-2011',
       'Jul-2010', 'Nov-2016', 'Jun-2016', 'Oct-2010', 'Nov-2014',
       'Nov-2018', 'Oct-2017', 'Oct-2016', 'Feb-2017', 'May-2016',
       'Jul-2015', 'Nov-2012', 'Jul-2012', 'Jan-2012', 'Jun-2011',
       'May-2011', 'Feb-2011', 'Jan-2011', 'Jan-2010', 'Sep-2018',
       'Aug-2018', 'May-2018', 'Apr-2018', 'Jan-2018', 'Mar-2017',
       'Apr-2016', 'Jun-2015', 'Feb-2013', 'Mar-2012', 'Sep-2010',
       'Aug-2017', 'May-2017', 'Jan-2017', 'Mar-2018', 'Jul-2018',
       'Feb-2018'], dtype=object)

In [218]:
test_data["os"] = test_data["os"].str.replace("\n","")

### Saving our dataframe to file:

In [219]:
test_data.to_csv("mobile_rating.csv")